*{
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #dfe0e3;
    margin: 0;
    padding: 5%;
}

.resume-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #dfe0e3;
    width: 80%;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.left-sec {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    text-align: center;
    border-top: 5px solid #414a61;
    border-right: 5px solid #414a61;
    border-bottom: 5px solid #414a61;
}

.profile-picture {
    box-shadow: 0 0 10px #667496;
    width: 150px;
    height: 150px;
    margin-top: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    font-size: 35px;
    margin: 10px 0;
    text-align: left;
}

h3 {
    font-size: 150%;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #58578c;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

ul {
    list-style-type:circle;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

.right-sec {
    padding: 20px;
    width: 100%;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 1%;
    box-shadow: 0 0 5px #2c2c2c;
    cursor:pointer;
    margin-top: 20px;
    font-size: 15px;
}

button:hover {
    background-color: #777c8a;
}

.savvy{
    color: rgb(0, 0, 0);
    font-size: 8.5px;
    text-align: center;
    position: relative;
    top:50px;
}

@media (min-width: 786px) {
    .resume-container {
        flex-direction: row;
        width: 80%;
        padding: 50px;
    }

    .left-sec {
        width: 30%;
        border-right: 5px solid #414a61;
        border-bottom: none;
    }

    .right-sec {
        width: 70%;
    }
}

@media(max-width:768px){
    .resume-container{
        padding: 10px;
    }

    .left-sec{
        margin-bottom: 20px;
    }
    .profile-picture {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 120%;
    }

    button {
        font-size: 14px;
    }
}

